# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea

logs
target
bin/cloudstream-1.0-SNAPSHOT-jar-with-dependencies.jar
*.iml


*.txt
.gradle/
src/main/java/cn/edu/zju/vlis/examples/showcase/
src/test/java/cn/edu/zju/vlis/example/

scripts/components/
scripts/nohup.out

docker/*/*.tar
docker/*/*.gz



